._050_bookInfoZone {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    margin-top: 5px;
    border-top: solid 1px #efefef;
    border-bottom: solid 1px #efefef;
    /*border-bottom: 0.05rem solid gainsboro;*/
}

.rm_searchBar {
    height: 2.2rem;
    background-color: #efefef;
    padding-right: .5rem;
    padding-left: .5rem;
    top: 3.2rem;
    position: absolute;
    right: 0;
    left: 0;
}

