@media screen and (max-width:480px){
	html,body {font-size: 12px;}
}
@media screen and (min-width:480px) and (max-width:640px){
	html,body {font-size: 14px;}
}
@media screen and (min-width:640px) and (max-width:768px){
	html,body{font-size: 16px;}
	.shelfLs li{width: 25%;}
}
@media screen and (min-width:768px) and (max-width:1024px){
	html,body{font-size: 18px;}
	.shelfLs li{width:20%;}
}
@media screen and (min-width:1024px){
	html,body{font-size: 20px;}
	.shelfLs li{width:16.66666666666667%;}
}