@charset "utf-8";
/* *{margin:0; padding: 0;} */
body{overflow: auto;}
html{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
html,body {font-size: 16px;font-family: "微软雅黑";color:#333;}
ul,ol,li{list-style: inside none;}
h1,h2,h3,h4,h5,h6{line-height: 1.8; color: inherit;}
h1{font-size: 2rem;}
h2{font-size: 1.5rem;}
h3{font-size: 1.25rem;}
h4{font-size: 1rem;}
h5{font-size: .875rem;}
h6{font-size: .75rem;}
article,aside,details,footer,header,nav,section,summary {display: block;}
audio,canvas,video {display: inline-block;}
audio:not([controls]) {display: none; height: 0;}
a{background: transparent; text-decoration: none; cursor: pointer;}
a:active,a:hover,a:focus {outline:none; text-decoration: none;}
/*div,p{line-height: 160%;}*/
hr{height:0; line-height:0; border-bottom:none; border-top:1px solid #c8c8c8; margin:10px 0;}
.clearfix:after {content:" "; display: block; clear: both; height: 0;}
.clearfix {zoom:1;}




.media_list{

}
@media screen and (max-width:480px){
    .media_list > li:nth-of-type(7),
    .media_list > li:nth-of-type(8),
    .media_list > li:nth-of-type(9),
    .media_list > li:nth-of-type(10),
    .media_list > li:nth-of-type(11),
    .media_list > li:nth-of-type(12)
    {
        display: none;
    }
}
@media screen and (min-width:480px) and (max-width:640px){
    .media_list > li:nth-of-type(9),
    .media_list > li:nth-of-type(10),
    .media_list > li:nth-of-type(11),
    .media_list > li:nth-of-type(12)
    {
        display: none;
    }
}
/*
@media screen and (min-width:640px) and (max-width:768px){
    .media_list > li:nth-of-type(11),
    .media_list > li:nth-of-type(12)
    {
        display: none;
    }
}
@media screen and (min-width:768px) and (max-width:1024px){
}
*/
@media screen and (min-width:640px) and (max-width:768px){
    .media_list > li:nth-of-type(11),
    .media_list > li:nth-of-type(12)
    {
        display: none;
    }
}
@media screen and (min-width:768px) and (max-width:1024px){
}
@media screen and (min-width:1024px){
}